spring:
  application:
    name: movie-streams
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.IntegerSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    streams:
      properties:
        num.stream.threads: 2
        topology.optimization: all
        processing.guarantee: exactly_once
  jmx:
    enabled: true
logging.level.de.swiedenfeld.springbootkotlin: debug

management:
  endpoint:
    prometheus:
      enabled: true

  endpoints:
    web:
      exposure:
        include: health, info, prometheus
